
        body { font-family: 'Poppins', sans-serif; }
        
        /* Animasi Fade untuk Carousel */
        .fade-anim {
            animation: fadeEffect 1.5s;
        }
        @keyframes fadeEffect {
            from {opacity: .4} 
            to {opacity: 1}
        }

        /* Custom Scrollbar */
        ::-webkit-scrollbar {
            width: 10px;
        }
        ::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }
        ::-webkit-scrollbar-thumb {
            background: #888; 
            border-radius: 5px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
        .dark ::-webkit-scrollbar-track {
            background: #1e293b;
        }
